<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manage Categories</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{% if category == 'success' %}success-message{% elif category == 'danger' %}danger-message{% else %}default-message{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% include 'navbar.html' %}

        <div class="container">
            <h2>Manage Categories</h2>
            <form method="POST">
                <label>Category Name:</label>
                <input type="text" id="name" name="name" required>
                <label">Type</label>
                <select id="type" name="type" required>
                    <option value="credit">credit</option>
                    <option value="debit">debit</option>
                </select>
                <button type="submit">Add Category</button>
            </form>

            <hr>
            <h3>Existing Categories</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.type }}</td>
                        <td>
                            <form action="/edit_category/{{ category.categoryID }}" style="display: inline;">
                                <button type="submit" style="background: none;border: none;color: #007bff;cursor:pointer;padding:0;">Edit</button>
                            </form> | 
                            <form action="/delete_category/{{ category.categoryID }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure?');">
                                <button type="submit" style="background:none;border:none;color:#007bff;cursor:pointer;padding:0;">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            function toggleMenu() {
            document.getElementById('navLinks').classList.toggle('show');
            }
        </script>

    </body>
</html>
