<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
    <style>
        .success-message { color: green; }
        .danger-message { color: red; }
        .default-message { color: black; }
    </style>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{% if category == 'success' %}success-message{% elif category == 'danger' %}danger-message{% else %}default-message{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Login</h2>
        <form method="POST">
            Email: <input type="email" name="email" required><br><br>
            Password: <input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
        <p>New user? <a href="/register">Register here</a></p>
    </body>
    
</html>
